.category-item {
    width: 125px;
    height: 150px;
    background-color: #FBC299;
    text-align: center;
    border-radius: 10px;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.category-item img {
    width: 90px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
}

.category-item h2 {
    font-size: 20px;
    bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.category-item.clicked {
    transition: 0.5s;
    background-color: #3D4113;
    color: #FBC299;
}