<div class="container">
    <app-header></app-header>
    <div class="profile-header">
        <div class="info-header row" style="text-align: center;">
            <div class="col info">Recipes posted<br><div class="stats">{{postedPagination.totalItems}}</div></div>
            <div class="col name">
                {{user.firstName}} {{user.lastName}}<br>
                <img [src]="url.concat('/', user.image)"><br>
                <button *ngIf="displaySaved" class="post-recipe" (click)="openModal(recipeModalId)">+ Add recipe</button>
            </div>
            <div class="col info">Average rating<i class="fa fa-pencil" *ngIf="displaySaved" style="margin-left: 15px; font-size:28px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#editUserModal"></i><br><div class="stats">{{user.averageRating}}<i class="fa fa-star"></i></div></div>
        </div>
    </div>
    <div class="recipes">
        <h1>Posted recipes</h1>
        <span *ngIf="postedRecipes.length == 0">No posted recipes!<br></span>
        <div class="posted-recipe-list">
            <app-card *ngFor="let recipe of postedRecipes" [recipe]="recipe"></app-card>
        </div>
        <span *ngIf="postedPagination.totalPages > 1">
            <span class="pagination-numbers">
                <span *ngFor="let page of totalPagesArray(postedPagination)" class="page-number" [class.active]="page == postedPagination.currentPage" (click)="gotoPagePosted(page)">
                  {{ page }}
                </span>
              </span>
        </span>
    </div>
    <div *ngIf="displaySaved == true" class="recipes">
        <h1>Saved recipes</h1>
        <span *ngIf="savedRecipes.length == 0">No saved recipes!</span>
        <div class="saved-recipe-list">
            <app-card *ngFor="let recipe of savedRecipes" [recipe]="recipe"></app-card>
        </div>
        <span *ngIf="savedPagination.totalPages > 1">
            <span class="pagination-numbers">
                <span *ngFor="let page of totalPagesArray(savedPagination)" class="page-number" [class.active]="page == savedPagination.currentPage" (click)="gotoPageSaved(page)">
                  {{ page }}
                </span>
              </span>
        </span>
    </div>
    <app-recipe-form></app-recipe-form>
</div>
<div #editUserModal class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="userForm">
                <div class="row">
                    <div class="upload-photo col-6">
                        <input type="file" id="photo" (change)="onFileChange($event)">
                        <div class="photo-preview" *ngIf="photoURL" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}"></div>
                        <div class="upload-text" *ngIf="!photoURL">Upload photo</div>
                    </div> 
                    <div class="col text-end" style="margin-right: 15px;">
                        <input type="text" id="firstName" formControlName="firstName" placeholder="First Name"><br>
                        <input type="text" id="lastName" formControlName="lastName" placeholder="Last Name"><br>
                        <input type="password" id="password" formControlName="password" placeholder="Password to confirm edit"><br>
                        <input type="password" id="repeatPassword" formControlName="repeatPassword" placeholder="Repeat password"><br>
                        <span *ngIf="!areEqual()">Passwords do not match</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="btn btn-primary" data-bs-dismiss="modal" (click)="editUser()" [disabled]="!areEqual()">Submit</button>
        </div>
    </div>
    </div>
</div>