.home-header{
  background-color: rgba(251, 194, 153, 0.7);
  height: 28vh;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  position: relative;
}

.home-header img{
  position: absolute;
  right: 0;
  bottom: -7.5vh; 
  width: 36vh;
}

.header-left {
  padding: 25px;
}


.header-left h1 {
  font-size: 32px;
  color: #3D4113;
  font-weight: normal;
}

.section-title{
  margin-top: 5vh;
  font-size: 30px;
  color: #3D4113;
  font-weight: 400;
}


.header-left input {
  margin-top: 20px;
  width: 55vh;
  border-radius: 12px;
  color: #3D4113;
  font-weight: normal;
  padding: 5px;
  padding-left: 10px;
  background-color: #FEEBDE;
  border: 0px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.header-left input:focus {
  transition: 0.2s;
  outline: none;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.2);
}

.recipe-list{
  margin-top: 3vh;
}

.category-list{
  margin-top: 3vh;
  display: flex;
  gap: 20px;
  padding-bottom: 10px;
  overflow-x: auto;
}

.pagination-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-number {
  margin: 0 10px; 
  cursor: pointer;
  font-size: 24px;
  color: black;
}

.page-number.active {
  font-weight: bold;
  color: black;
}

.options {
  text-align: right;
}

.fa{
  margin-left: 30px;
  cursor: pointer;
}

.btn-outline-dark{
  margin: 5px;
  color: #3D4113;
}

.btn-outline-dark:hover{
  background-color: #878b51;
}

.btn-outline-dark:focus{
  color: #3D4113;
  background-color: #878b51;
}

.modal-footer .btn-primary{
  background-color: #3D4113;
}