<div class="container">
    <app-header></app-header>
    <div class="recipe-header">
        <div class="info-header row" style="text-align: center;">
            <div class="col info">Total time<br>
                <div class="stats">{{recipe.prepTime + recipe.cookTime}}<span>mins</span></div>
            </div>
            <div class="col recipe">
                <h1>{{recipe.title}}</h1><br>
                <h2 [routerLink]="['/profile', recipe.owner?._id]" style="cursor: pointer;">{{recipe.owner?.firstName}} {{recipe.owner?.lastName}}</h2><br>
                <img [src]="url.concat('/', recipe.image)"><br>
                <span class="info">{{recipe.servingSize}} servings</span>
            </div>
            <div class="col info">
                Recipe rating<i class="fa fa-trash" *ngIf="owned" (click)="deleteRecipe(recipe._id);"></i><br>
                <div class="stats">{{recipe.averageRating}}<i class="fa fa-star"></i></div><br>
                <button class="rate-recipe" *ngIf="!owned">Rate this recipe</button>
            </div>
        </div>
    </div>
    <div class="description">
        <h1>Description</h1>
        <p>{{recipe.description}}</p>
    </div>
    <div class="sec ingredients">
        <h1>Ingredients</h1>
        <div class="ingredients-list">
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
            </ul>
        </div>
    </div>

    <div class="sec instructions">
        <h1>Instructions</h1>
        <div class="instructions-list">
            <ol>
                <li *ngFor="let step of recipe.steps">{{step}}</li>
            </ol>
        </div>
    </div>

    <div class="sec comments">
        <h1>Comments ({{pagination.totalItems}})</h1>
        <div class="comment-section">
            <div class="comment row" *ngFor="let comment of recipe.comments">
                <div class="col-1">
                    <img [src]="url.concat('/', comment.user.image)" [alt]="url.concat(comment.user.image)">
                </div>
                <div class="col">
                    <h1>{{comment.user.firstName}} {{comment.user.lastName}}</h1><br>
                    <p>{{comment.text}}</p>
                </div>
            </div>
        </div>
    </div>
</div>