<div class="modal" *ngIf="isVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Add a recipe</h2>
      <button class="close-button" (click)="closeModal()">&times;</button>
    </div>
    <form [formGroup]="recipeForm" (ngSubmit)="submitRecipe()">
      <input type="text" id="title" formControlName="title" placeholder="Title"><br>
      <div class="top-cont">
        <textarea class="form-control" id="description" formControlName="description" placeholder="Description"></textarea>
        <div class="upload-photo">
          <input type="file" id="photo" (change)="onFileChange($event)">
          <div class="photo-preview" *ngIf="photoURL" [ngStyle]="{'background-image': 'url(' + photoURL + ')'}"></div>
          <div class="upload-text" *ngIf="!photoURL">Upload photo</div>
        </div>          
      </div>
      <label for="category">Category:</label>
      <select id="category" formControlName="category">
        <option *ngFor="let category of categories" [value]="category._id">{{ category.name }}</option>
      </select>

      <div class="time-container">
        <div>
          <label>Prep time</label><input type="number" id="prep-time" formControlName="prepTime" placeholder="Prep Time">
        </div>
        <div>
          <label>Cook time</label><input type="number" id="cook-time" formControlName="cookTime" placeholder="Cook Time">
        </div>
        <div>
          <label>Serving size</label><input type="number" id="serving-size" formControlName="servingSize" placeholder="Servings">
        </div>
      </div>

      <div class="ingredients-container">
        <label>Ingredients:</label>
        <div formArrayName="ingredients">
          <div class="ingredient" *ngFor="let ingredient of ingredientControls; let i = index">
              <input type="text" [formControlName]="i" placeholder="e.g. 1 cup of flour">
              <button class="remove-button" type="button" (click)="removeIngredient(i)">&times;</button>
          </div>
        </div>
        <button class="add-button" type="button" (click)="addIngredient()">+ Add Ingredient</button>      
      </div>

      <label for="instructions">Instructions:</label>
      <div formArrayName="instructions">
          <div class="instruction" *ngFor="let step of instructionControls; let i = index">
              <textarea class="form-control" [formControlName]="i" placeholder="e.g. Mix all the dry ingredients"></textarea>
              <button class="remove-button" type="button" (click)="removeStep(i)">&times;</button>
          </div>
      </div>
      <button class="add-button" type="button" (click)="addStep()">+ Add Step</button>
      <button class="submit-button" type="submit">Submit recipe</button>
    </form>
  </div>
</div>