<div class="nav-container">
  <div class="left-links col">
    <a routerLink="/home">Home</a>
     <a *ngIf="token != null" (click)="navigateToProfile()">Profile</a>
  </div>
  <div class="right-links col text-end">
    <a *ngIf="token == null" routerLink="/login">Sign in</a>
    <div class="d-flex justify-content-center align-items-center">
      <div class="col" *ngIf="firstName">
        <span class="name">Hello, {{ firstName | titlecase }}!</span>
      </div>
      <span class="logout ps-4" *ngIf="token != null" (click)="logout()"
        ><i class="fa fa-sign-out"></i
      ></span>
    </div>
  </div>
</div>